*~
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.kpf
*.swp
*.wpr
.*.cfg
.coverage
.eggs
.installed.cfg
.mr.developer.cfg
.hg/
.bzr/
.svn/
.project
.pydevproject
*.sublime-*
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
fake-eggs/
htmlcov/
parts/
src/
var/



# OSX
.DS_Store
